<div class="row">
    <div class="col-md-12">
        <button onClick="AddUpdatePersonOnBoardMessageImplementation(0)" type="button" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Add Amendment Details
        </button>
    </div>
</div>
<div class="table-responsive">
    <table style="width:100%!important;" id="tblPersonOnBoardMessageImplementation" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Person On Baord Seq No.</th>
                <th>Person Details Person Type Cdd</th>
                <th>Person Details Person Family Name</th>
                <th>Person Details Person Given Name</th>
                <th>Person Details Person Nationality Cdd</th>
                <th>Person Details Passengers InTransit Indicator</th>
                <th>Person Details Crew Member Rank Or Rating Name</th>
                <th>Person Details Crew Member Rank Or Rating Cdd</th>
                <th>Person Details Passanger Part Of Embark Tn Cdd</th>
                <th>Person Details Passanger Part Of Embark Tn Name</th>
                <th>Person Details Passanger Part Of Dsmbark Tn Cdd</th>
                <th>Person Details Passanger Part Of Dsmbark Tn Name</th>
                <th>Person Details Person Gender Cdd</th>
                <th>Person Details Person Date Of Birth</th>
                <th>Person Details Person Place Of Birth Name</th>
                <th>Person Details Person Country Of Birth Cdd</th>
                <th>Person Id Doc Expiry Date</th>
                <th>Person Id OrTravel Doc Issuing Nation Cdd</th>
                <th>Person Id Or Travel Doc No.</th>
                <th>Person Id Or Travel Doc Type Cdd</th>
                <th>Visa Details Person Visa</th>
                <th>Visa Details PNR No.</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/PageScripts/PersonOnBoardMessageImplementation.js"></script>
}