<div class="row">
    <div class="col-md-12">
        <button onClick="AddUpdateAmendmentDetailsMessageImplementation(0)" type="button" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Add Amendment Details
        </button>
    </div>
</div>
<div class="table-responsive">
    <table style="width:100%!important;" id="tblAmendmentDetailsMessageImplementation" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Amendment Ref No</th>
                <th>Amendment Flag</th>
                <th>Amendment Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/PageScripts/AmendmentDetailsMessageImplementation.js"></script>
}