<div class="row">
    <div class="col-md-12">
        <button onClick="AddUpdateAdditionalDetailsMessageImplementation(0)" type="button" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Add Additional Details
        </button>
    </div>
</div>
<div class="table-responsive">
    <table style="width:100%!important;" id="tblAdditionalDetailsMessageImplementation" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Tag Ref</th>
                <th>Ref Serial No.</th>
                <th>Info Type</th>
                <th>Info Qualifier</th>
                <th>Info Cd</th>
                <th>Info Text</th>
                <th>Info Msr</th>
                <th>Info Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/PageScripts/AdditionalDetailsMessageImplementation.js"></script>
}