<div class="row">
    <div class="col-md-12">
        <button onClick="AddUpdateTransportEquipmentMasterConsignment(0)" type="button" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Add Transport Equipment
        </button>
    </div>
</div>
<div class="table-responsive">
    <table style="width:100%!important;" id="tblTransportEquipmentMasterConsignment" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Equipment Sequence No</th>
                <th>Equipment Id</th>
                <th>Equipment Type</th>
                <th>Equipment Size</th>
                <th>Equipment Load Status</th>
                <th>Additional Equipment Hold</th>
                <th>Event Date</th>
                <th>Equipment Seal Type</th>
                <th>Equipment Seal No</th>
                <th>Other Equipment Id</th>
                <th>SOC Flag</th>
                <th>Container Agent Cd</th>
                <th>Container Weight</th>
                <th>Total No Of Packages</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/PageScripts/TransportEquipmentMasterConsignment.js"></script>
}