<div class="row">
    <div class="col-md-12">
        <button onClick="AddUpdateHouseCargo(0)" type="button" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Add House Cargo
        </button>
    </div>
</div>
<div class="table-responsive">
    <table style="width:100%!important;" id="tblHouseCargo" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Line No</th>
                <th>House Bill No</th>
                <th>House Bill Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/PageScripts/HouseCargo.js"></script>
}