<div class="row">
    <div class="col-md-12">
        <button onClick="AddUpdateSupportDocMessageImplementation(0)" type="button" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Add Support Doc
        </button>
    </div>
</div>
<div class="table-responsive">
    <table style="width:100%!important;" id="tblSupportDocMessageImplementation" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Tag Ref</th>
                <th>Ref Serial No.</th>
                <th>Sub Serial No. Ref </th>
                <th>Icegate UserId</th>
                <th>IRN No</th>
                <th>Doc Ref No.</th>
                <th>Doc Type Code</th>
                <th>Beneficiary Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/PageScripts/SupportDocMessageImplementation.js"></script>
}